-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: travel_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `blog_page`
--

DROP TABLE IF EXISTS `blog_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blog_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `posts` json DEFAULT NULL,
  `pagination` json DEFAULT NULL,
  `author` json DEFAULT NULL,
  `recent_posts` json DEFAULT NULL,
  `categories` json DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `newsletter` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog_page`
--

LOCK TABLES `blog_page` WRITE;
/*!40000 ALTER TABLE `blog_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `blog_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_page`
--

DROP TABLE IF EXISTS `contact_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `topbar` json DEFAULT NULL,
  `navbar` json DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `intro` json DEFAULT NULL,
  `core_values` json DEFAULT NULL,
  `partners` json DEFAULT NULL,
  `cta_banner` json DEFAULT NULL,
  `testimonials` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_page`
--

LOCK TABLES `contact_page` WRITE;
/*!40000 ALTER TABLE `contact_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `destination_page`
--

DROP TABLE IF EXISTS `destination_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `destination_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `topbar` json DEFAULT NULL,
  `navbar` json DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `search_bar` json DEFAULT NULL,
  `popular_destinations` json DEFAULT NULL,
  `packages` json DEFAULT NULL,
  `cta_banner` json DEFAULT NULL,
  `statistics` json DEFAULT NULL,
  `special_packages` json DEFAULT NULL,
  `traveller_gallery` json DEFAULT NULL,
  `discount_banner` json DEFAULT NULL,
  `recent_posts` json DEFAULT NULL,
  `testimonials` json DEFAULT NULL,
  `bottom_cta` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `destination_page`
--

LOCK TABLES `destination_page` WRITE;
/*!40000 ALTER TABLE `destination_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `destination_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `home_page`
--

DROP TABLE IF EXISTS `home_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `home_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `hero_title` varchar(255) DEFAULT NULL,
  `hero_description` text,
  `hero_button1` varchar(100) DEFAULT NULL,
  `hero_button2` varchar(100) DEFAULT NULL,
  `hero_image` varchar(500) DEFAULT NULL,
  `search_section` json DEFAULT NULL,
  `destinations` json DEFAULT NULL,
  `packages` json DEFAULT NULL,
  `special_packages` json DEFAULT NULL,
  `gallery` json DEFAULT NULL,
  `posts` json DEFAULT NULL,
  `testimonials` json DEFAULT NULL,
  `statistics` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `home_page`
--

LOCK TABLES `home_page` WRITE;
/*!40000 ALTER TABLE `home_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `home_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `index_page`
--

DROP TABLE IF EXISTS `index_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `index_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `topbar` json DEFAULT NULL,
  `navbar` json DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `search` json DEFAULT NULL,
  `stats` json DEFAULT NULL,
  `services` json DEFAULT NULL,
  `about` json DEFAULT NULL,
  `destinations` json DEFAULT NULL,
  `packages` json DEFAULT NULL,
  `process` json DEFAULT NULL,
  `appointment` json DEFAULT NULL,
  `testimonials` json DEFAULT NULL,
  `contact` json DEFAULT NULL,
  `blogs` json DEFAULT NULL,
  `newsletter` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `index_page`
--

LOCK TABLES `index_page` WRITE;
/*!40000 ALTER TABLE `index_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `index_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package_detail_page`
--

DROP TABLE IF EXISTS `package_detail_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `package_detail_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `gallery` json DEFAULT NULL,
  `package_info` json DEFAULT NULL,
  `overview` json DEFAULT NULL,
  `included` json DEFAULT NULL,
  `itinerary` json DEFAULT NULL,
  `things_to_know` json DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `navigation` json DEFAULT NULL,
  `booking_card` json DEFAULT NULL,
  `reviews` json DEFAULT NULL,
  `related_packages` json DEFAULT NULL,
  `categories` json DEFAULT NULL,
  `newsletter` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package_detail_page`
--

LOCK TABLES `package_detail_page` WRITE;
/*!40000 ALTER TABLE `package_detail_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `package_detail_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package_page`
--

DROP TABLE IF EXISTS `package_page`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `package_page` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_title` varchar(255) DEFAULT NULL,
  `topbar` json DEFAULT NULL,
  `navbar` json DEFAULT NULL,
  `hero` json DEFAULT NULL,
  `search_bar` json DEFAULT NULL,
  `popular_destinations` json DEFAULT NULL,
  `packages` json DEFAULT NULL,
  `cta_banner` json DEFAULT NULL,
  `stats` json DEFAULT NULL,
  `special_packages` json DEFAULT NULL,
  `gallery` json DEFAULT NULL,
  `discount_banner` json DEFAULT NULL,
  `recent_posts` json DEFAULT NULL,
  `testimonials` json DEFAULT NULL,
  `bottom_cta` json DEFAULT NULL,
  `footer` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package_page`
--

LOCK TABLES `package_page` WRITE;
/*!40000 ALTER TABLE `package_page` DISABLE KEYS */;
/*!40000 ALTER TABLE `package_page` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `product_id` int DEFAULT NULL,
  `product_name` varchar(100) DEFAULT NULL,
  `price` decimal(4,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
INSERT INTO `product` VALUES (1,'biscuit',NULL),(NULL,NULL,20.00),(2,'gues',50.80),(3,'difest',50.80),(4,'cibus',50.80),(5,'givel',50.80);
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-24 13:48:03
